nav {
    height: 100px;
    position: absolute;
    width: 100%;
}

.borderDiv{
    height: 100%;
    width: 90%;
    border-bottom: 1px var(--dark-color-1) solid;
    margin: auto;
    display: flex;
    background-color: pink;
    align-items: center;
    justify-content: space-between;
}