body {
  margin: 0;
  font-family: 'OptimaMedium', 'OptimaB', 'Optima';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Optima';
  src: local("Optima"), 
    url('./fonts/optima-cufonfonts-webfont/OPTIMA.woff');
    font-weight: normal;
}

@font-face {
  font-family: 'OptimaMedium';
  src: local("OptimaMedium"), 
    url('./fonts/optima-cufonfonts-webfont/Optima Medium.woff');
    font-weight: 500;
}

@font-face {
  font-family: 'OptimaB';
  src: local("OptimaB"), 
    url('./fonts/optima-cufonfonts-webfont/OPTIMA_B.woff');
    font-weight: bold;
}

